.checkout {
    display: flex;
    flex-direction: column;
    padding: 20px;
   background-color: white;
   height: max-content;
}

.checkout_advertise_img {
    width: 100%;
    margin-bottom: 20px;

}