.checkoutProduct {
    display: flex;
    /* height: max-content; */
    margin-bottom: 20px;
    margin-top: 20px;
}

.checkoutProduct_image {
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.checkoutProduct_info {
    padding-left: 20px;
}

.checkoutProduct_title {
    font-size: 18px;
    font-weight: 800;
}

.checkoutProduct_price {
    display: flex;
    align-items: center;
}

.priceIcon {
    height: 15px !important;
}

.checkoutProduct_rating {
    display: flex;
}

.checkoutProduct_info > button {
    min-width: 120px;
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
}