.checkout {
    display: flex;
    /* flex-direction: column; */
    padding: 20px;
   background-color: white;
   height: max-content;
}

.checkout_advertise_img {
    width: 100%;
    margin-bottom: 20px;
}

.checkout_title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout > div > a > button {
    min-width: 100px;
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
}