.navbar {
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    z-index: 100;
    top: 0;
}

.navbar_logo {
    width: 100px;
    object-fit: contain;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar_search {
    display: flex;
    flex: 1;
}

.navbar_searchInput {
    width: 100%;
    height: 12px;
    padding: 10px;
    border: none;
}

.navbar_searchIcon {
    height: 22px !important;
    padding: 5px;
    background-color: #cd9042;
}

.navbar_nav {
    display: flex;
    justify-content: space-evenly;
}
.navbar_link {
    text-decoration: none;
    color: white;
}

.navbar_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar_optionOne {
    font-size: 10px;
}

.navbar_optionTwo {
    font-size: 13px;
    font-weight: 800;
}

.navbar_optionBasket {
    display: flex;
    align-items: center;
}

.navbar_basketCount {
    margin: 0 10px;
}