.home {
    max-width: 1200px;
    margin: 0 auto;
}

.home_img {
    width: 100%;
    object-fit: contain;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    margin-bottom: -150px;
    z-index: -1;
}

.home_product {
    display: flex;
    flex: 1;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}