.product {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-height: 400px;
    min-width: 100px;
    width: 100%;
    margin: 10px;
    padding: 20px;
    background-color: white;
    z-index: 1;
}

.product_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    margin-bottom: 15px;
}

.product_title {
    margin-bottom: 5px;
}

.product_price {
    margin-top: 5px;
}

.product_priceIcon {
    height: 15px !important
}

.product_rating {
    display: flex;
}

.starIcon {
    color: #f0c14b;
}

.product_img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button {
    min-width: 120px;
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
}