.signin_form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.signin_logo {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    object-fit: contain;
}

.signin_container {
    max-width: 400px;
    min-width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
}

.signin_container > form > h5 {
    font-size: 18px;
    margin: 10px 0;
}

.signin_container > form > input {
    width: 90%;
    height: 10px;
    padding: 15px;
    outline: none;
    font-size: 20px;
}

.signin_container > form > button {
    display: flex;
    height: 20px;
    padding: 15px;
    width: 99%;
    margin-top: 10px;
    font-size: 15px;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.signup_link {
    margin-top: 5px;
    text-align: center;
}

.signup_link > a {    
    text-decoration: none;
    color: #fdb705ee;
}

/* ******************************** Media Queries ********************************* */
@media only screen and (max-width: 375px){
    .signin_container {
        max-width: 250px;
    }
    .signin_container > form > h5 {
        font-size: 15px;
    }
    .signin_container > form > button {
        width: 104%;
        margin-bottom: 10px;
    }
    .signin_container > form > p {
        font-size: 13px;
    }
    .signin_container > form > input {
        font-size: 15px;
    }
}