.signup_form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.signup_logo {
    width: 100px;
    object-fit: contain;
    margin: 20px 0;
}

.signup_container {
    max-width: 400px;
    min-width: 250px;
    padding: 20px;
    border: 1px solid lightgray;
}

.signup_container > form > h5 {
    font-size: 18px;
    margin: 10px 0;
}

.signup_container > form > input {
    width: 90%;
    height: 10px;
    padding: 15px;
    outline: none;
    font-size: 20px;
}

.signup_container > form > button {
    width: 99%;
    height: 20px;
    padding: 15px 20px;
    margin: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    background-color: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
}

.signup_container > form > p {
    text-align: center;
}

.signup_container > form > p > a{
    text-decoration: none;
    color: #f0c14b;
}